html {
  scroll-behavior: smooth;
}

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;

  background-color: #fff;
}

/**********************   Container   **********************/

.container {
  display: flex;
  width: 886px;
  margin: 0 auto;
  padding: 0 70px;
}

.container--footer {
  align-items: center;
}

.container__block--left {
  width: 240px;
  margin-right: 56px;
  padding: 0 55px;

  background-color: rgba(0, 0, 0, 0.2);
}

.container__block--right {
  width: 480px;
}

/**********************   Page-header   **********************/

.page-header {
  color: #fff;

  background-color: #171C26;
}

/**********************   Navbar   **********************/

.navbar {
  padding: 15px 0;

  background-color: #fff;
}

.navbar__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navbar__item {
  margin-right: 40px;
}

.navbar__link {
  color: #000;
  font-size: 14px;
  line-height: 20px;

  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

/**********************   Photo   **********************/

.photo {
  margin: 0;
  padding: 75px 0;
}

.photo__image {
  width: 350px;
  height: 390px;
  margin-left: -55px;
}

/**********************   Page-title   **********************/

.page-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 70px;

  color: #fff;
  font-size: 64px;
  font-weight: bold;
  line-height: 77px;
}

/**********************   Speciality   **********************/

.speciality {
  display: inline-block;
  margin-bottom: 64px;
  padding: 6px 12px;

  font-size: 24px;
  font-weight: bold;

  background-color: rgba(255, 255, 255, 0.2)
}

/**********************   Contacts   **********************/

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts__item {
  width: 50%;
  margin-bottom: 30px;
}

.contacts__item-title {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.contacts__item-info {
  margin: 0;
  padding: 0;

  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 24px;
}

.contacts__github-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.contacts__github-link:hover {
  color: #fff;

  transition: .3s;
}

/**********************   Education   **********************/

.education {
  margin-bottom: 60px;
}

.education__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 60px;
}

.education__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.education__item {
  margin-bottom: 25px;
}

.education__item span {
  display: block;
}